<h1 style="color: blue;">Mi perfil:</h1>
<h3 style="color: green;">Nombre: {{first_name}}</h3>
<h3 style="color: green;">Apellido: {{last_name}}</h3>
<p style="color: red;">mail: {{email}}</p>
<h1>Rol: {{isAdmin}}</h1>